{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
	<title>customer</title>
	{{form.media}}
</head>
<body>
<h>{{locations.house_name}} --{{ units_used }} units</h>

{% for customer in customers %}
<p>{{customer.first_name}} - {{customer.last_name}} - {{customer.payment_status}}</p>
{%  endfor %}

<div class="container-fluid">
        <h3 class="text-center" style="margin-top:10px;">Add reading</h3>
        <div class="card" style="padding:30px;">
            <form action="{% url 'customer_in_location' locations.pk %}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                {{ form }}
                <input type="submit" class="btn btn-success btn-block" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>