{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<!-- Page Wrapper -->
  <div id="wrapper">

<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content"><br>

      <!-- Main Content -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
           <h1 class="h5 mb-0 text-gray-800 text-center">Location: Main</h1> </div><hr><br>

      	  <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Transactions made</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">56</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-hand-holding-usd fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- projects completed -->
           
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total collection</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Ksh 12,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-money-bill-wave fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div><br><br>


      	 <div class="text-center">
             <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#myModal">
                    <span class="icon text-white-90">
                      <i class="fas fa-plus-square"></i>
                    </span>
                    <span class="text">new transaction</span>
                  </a>    

        </div><br>


      	 <br>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
Example E
        </div>
        
    </div>
</div>

{% endblock%}