{% extends 'admino/base.html' %}
{% load static %}
{% block content %}

<!-- Page Wrapper -->
  <div id="wrapper">

<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
           <h1 class="h5 mb-0 text-gray-800 text-center">Payments per location</h1> <hr>
         
        
                  </div>

                    <div class="text-center">
                   <a href="#" class="btn btn-success btn-icon-split">
                
                    <span class="text">Filter by date</span>    <span class="icon text-white-90">
                      <i class="fas fa-calendar-alt"></i>
                    </span>
                  </a> 
                </div><br>
      	 <!-- paid homes-->
      	    <div class="col-lg-6">
              
               <!-- projects in progress-->
            <a href="{% url 'transactions_made' %}">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Main<br> 234 payments<br> Total: Ksh 12,000</div>
                       
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </a>

           

                       <a href="{% url 'payments_single_location'%}">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Riverside Court<br> 13 payments<br> Total: Ksh 14,900</div>
                       
                    </div>
                

                  </div>
                </div>
              </div>
            </div>
          </a>

            

<a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">kifaru Court<br> 6 payments<br> Total: Ksh 1,000</div>
                       
                    </div>
                

                  </div>
                </div>
              </div>
            </div>
          </a>

                    <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Blessed Court<br> 17 payments<br> Total: Ksh 12,000</div>
                       
                    </div>
                

                  </div>
                </div>
              </div>
            </div>
          </a>

                 <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">x Court<br> 10 payments<br> Total: Ksh 19,000</div>
                       
                    </div>
                

                  </div>
                </div>
              </div>
            </div>
          </a>

            </div>

        </div>

  </div>
  </div>
     	

{% endblock%}