{% extends 'admino/base.html' %}
{% load static %}
{% block content%}

        <!-- Begin Page Content -->
        
          <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h5 mb-0 text-gray-800 text-center">Leshans Water Supplies</h1> <hr>
                
                          
                  </div>



          <!-- Content Row -->
          <div class="row">

            <!-- projects completed -->
            
            <div class="col-xl-3 col-md-6 mb-4">
              <a href="{% url 'transactions_made' %}">
              <div class="card border-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-center">Transactions Made (today)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">400</div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </a>
          </div>
        

          <!-- <a href="">         -->
           <div class="col-xl-3 col-md-6 mb-4">
          <a href="{% url 'payments_location' %}">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-center">Payments made (today)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">Ksh 14,000</div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </a>
          </div>
       

            <!-- projects in progress-->
            
               <div class="col-xl-3 col-md-6 mb-4">
          <a href="{% url 'pending_payments' %}">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-center">Pending payments (total)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">Ksh 78,000</div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </a>
          </div>
          


            <!-- Total spent -->
            
         <div class="col-xl-3 col-md-6 mb-4">
          <a href="{% url 'units_consumed' %}">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-center">Total earnings (monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">Ksh 218,000</div>
                    </div><br>
                    <div class="text-center">
                   <a href="#" class="btn btn-success btn-icon-split">
                
                    <span class="text">Filter by date</span>    <span class="icon text-white-90">
                      <i class="fas fa-calendar-alt"></i>
                    </span>
                  </a> 
                </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          </div>
         
        
        


          <!-- Content Row -->

         
              </div>

             <br>
</div>
                 
{% endblock %}
 