{% extends 'admino/base.html' %}
{% load static %}
{% block content %}

<!-- Page Wrapper -->
  <div id="wrapper">

<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

      	 <div class="text-center">
             <a href="#" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-90">
                      <i class="fas fa-mobile-alt"></i>
                    </span>
                    <span class="text">Mpesa</span>
                  </a>   

                   <a href="#" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-90">
                      <i class="fas fa-money-bill-wave"></i>
                    </span>
                    <span class="text">Cash</span>
                  </a>  
        </div><br>
      	 <!-- paid homes-->
      	    <div class="col-lg-6">
              
               <!-- projects in progress-->
            <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Transaction ID wrtd2455i<br> John Doe <br> 
                      Ksh 432</div>
                       
                    </div>
                   

                  </div>
                </div>
              </div>
            </div>
          </a>

           

                        <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Transaction ID wrtd2455i<br> John Doe <br> 
                      Ksh 432</div>
                       
                    </div>
                   

                  </div>
                </div>
              </div>
            </div>
          </a>

            

                     <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Transaction ID wrtd2455i<br> John Doe <br> 
                      Ksh 432</div>
                       
                    </div>
                   

                  </div>
                </div>
              </div>
            </div>
          </a>

                   <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Transaction ID wrtd2455i<br> John Doe <br> 
                      Ksh 432</div>
                       
                    </div>
                   

                  </div>
                </div>
              </div>
            </div>
          </a>

            <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Transaction ID wrtd2455i<br> John Doe <br> 
                      Ksh 432</div>
                       
                    </div>
                   

                  </div>
                </div>
              </div>
            </div>
          </a>

            </div>

        </div>

  </div>
  </div>
     	

{% endblock%}