{% extends 'user/base.html' %}
{% block content %}
{% load static %}
  <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
           <h1 class="h5 mb-0 text-gray-800 text-center">Leshans Water Supplies</h1> <hr>
         
        
                  </div>

          <!-- Content Row -->
           <!-- projects completed -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-center">Bill Management</div><hr>
                      
                      <div class="text-center">
                      <a href="#" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-90">
                      <i class="fas fa-check-circle"></i>
                    </span>
                    <span class="text">Paid</span>
                  </a> 
                  <a href="#" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-90">
                      <i class="fas fa-hourglass"></i>
                    </span>
                    <span class="text">Pending</span>
                  </a> 
                </div>
                    
                    </div>
                                       
                    </div>
                </div>
              </div>
            </div>

            <!-- projects in progress-->
            <a href="{% url 'location_index' %}">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Location Management</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-map-marker-alt fa-2x"></i>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </a>
        
        <a href="{% url 'client_index' %}">
        <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Customer Management</div>
                      
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </a>
            
<!-- Content Row -->
        <div class="text-center">
             <a href="#" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-90">
                      <i class="fas fa-plus-square"></i>
                    </span>
                    <span class="text">Add Meter Reading</span>
                  </a>    

        </div>
      <br>


          <!--end of progress reports-->

                </div>
              
       
{% endblock %}