{% extends 'user/base.html' %}
{% block content %}
{% load static %}
  <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
           <h1 class="h5 mb-0 text-gray-800 text-center">Leshans Water Supplies</h1> <hr>
         
        
                  </div>

          <!-- Content Row -->
           <!-- projects completed -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 text-center">Bill Management</div><br>
                      
                      <div class="text-center">
                      <a href="{% url 'paid_bills'%}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-90">
                      <i class="fas fa-check-circle"></i>
                    </span>
                    <span class="text">Paid</span>
                  </a> 
                  <a href="{% url 'pending_bills'%}" class="btn btn-warning btn-icon-split">
                    <span class="icon text-white-90">
                      <i class="fas fa-hourglass"></i>
                    </span>
                    <span class="text">Pending</span>
                  </a> 
                </div>
                    
                    </div>
                                       
                    </div>
                </div>
              </div>
            </div>

<div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success
                      text-uppercase mb-1 text-center"><a href="{% url 'location_index' %}">location Management</a></div><hr>
                      
                      <div class="text-center">
 
                  <a href="{% url 'location_readings'%}" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-90">
                      <i class="fas fa-receipt"></i>
                    </span>
                    <span class="text">Meter readings</span>
                  </a> 
                </div>
                    
                    </div>
                                       
                    </div>
                </div>
              </div>
            </div>


                
        <a href="{% url 'client_index' %}">
        <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Customer Management</div>
                      
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </a>
            
<!-- Content Row -->
        <div class="text-center">
             <a href="#" class="btn btn-success btn-icon-split" data-toggle="modal" data-target="#myModal">
                    <span class="icon text-white-90">
                      <i class="fas fa-plus-square"></i>
                    </span>
                    <span class="text">Add Meter Reading</span>
                  </a>    

        </div>
      <br>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">New reading</h4>
        <button type="button" class="close" data-dismiss="modal">x</button>
      </div>
      <div class="modal-body">
    <input type="text" class="form-control" aria-label="..." placeholder="location"><br>
    <input type="text" class="form-control" aria-label="..." placeholder="house" ><br>
    <input type="number" class="form-control" aria-label="..." placeholder="new reading"><br>
      <button type="button" class="btn btn-success" data-dismiss="modal">save</button>

    </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

          <!--end of progress reports-->

                </div>
              
       
{% endblock %}