.avatar-holder{
    height: 200px;
    width: 200px;
    margin: auto;
}

.avatar-holder img{
    height: 200px;
    width: 200px;
    margin-top:10px;
}
/* .info-holder{
    margin-top: 5px;
} */


  .info-form{
      font-weight: 600;
      font-size: 15px;
      text-align: left;
      margin-left: 20px;
      padding: 10px;
      height: 100%;
      padding-top: 12px;
      padding-bottom: 33px;
  }

  select{
      background-color: #6DC143;
      border-radius: 2px;
      color: #fff;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #verified{
      /* color: #6DC143; */
      position: absolute;
      z-index: 1;
      height: 40px;
      width: 40px;
      left: 30px;
  }