{% extends 'admin/base.html' %}
{% load static %}
{% block content%}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h5 mb-0 text-gray-800 text-center">Leshans Water Supplies</h1> <hr>
            <div class="text-center">
<a href="#" class="btn btn-primary btn-icon-split ">
                    <span class="icon text-white-90 ">
                      <i class="fas fa-file-alt"></i>
                    </span>
                    <span class="text">Generate Report</span>
                  </a> 
                  </div>
                    
                          
                  </div>


          <!-- Content Row -->
          <div class="row">

            <!-- projects completed -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Earnings</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">400,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-money-bill-wave fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- projects in progress-->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1"> Total Payments Made ( current month)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">120,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-file-invoice-dollar fa-2x "></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Total spent -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Pending Payments</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Ksh 3,000</div>
                        </div>
                       </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Units Sold</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">1800</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-tint fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

         
              </div>

                 
{% endblock %}
 