{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<!-- Page Wrapper -->
  <div id="wrapper">

<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

<br>
      	 <!-- paid homes-->
      	    <div class="col-lg-6">
              
               <!-- projects in progress-->
            <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Poh Building</div>
                       
                    </div>
                    <div class="col ">
                            <div class="text-center">
 
                  <a href="{% url 'locations_pending'%}" class="btn btn-warning btn-icon-split">
                     <span class="icon text-white-90">
                      12
                    </span><span class="text">Pending</span>
                   
                    
                  </a> 
                </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </a>

           

           <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Kifaru Court</div>
                       
                    </div>
                    <div class="col ">
                            <div class="text-center">
 
                  <a href="{% url 'location_readings'%}" class="btn btn-warning btn-icon-split">
                     <span class="icon text-white-90">
                      23
                    </span><span class="text">Pending</span>
                   
                    
                  </a> 
                </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </a>

            

               <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Riverside Court</div>
                       
                    </div>
                    <div class="col ">
                            <div class="text-center">
 
                  <a href="{% url 'location_readings'%}" class="btn btn-warning btn-icon-split">
                     <span class="icon text-white-90">
                      3
                    </span><span class="text">Pending</span>
                   
                    
                  </a> 
                </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </a>

               <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Hop Apartments</div>
                       
                    </div>
                    <div class="col ">
                            <div class="text-center">
 
                  <a href="{% url 'location_readings'%}" class="btn btn-warning btn-icon-split">
                     <span class="icon text-white-90">
                      5
                    </span><span class="text">Pending</span>
                   
                    
                  </a> 
                </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </a>

               <a href="#">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Pah Building</div>
                       
                    </div>
                    <div class="col ">
                            <div class="text-center">
 
                  <a href="{% url 'location_readings'%}" class="btn btn-warning btn-icon-split">
                     <span class="icon text-white-90">
                      12
                    </span><span class="text">Pending</span>
                   
                    
                  </a> 
                </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </a>

            </div>

        </div>

  </div>
  </div>
     	

{% endblock%}